*.nii.gz
*.log
*.err
*.png
*.0
*.pyc
.nfs000000001c3092ed000587e3
*.pt
*.csv
*.out
data/dataset_breast_cached.json
data/dataset_breast.json
nnUNet_train
.claude/.nfs0000000020086334000057de
\[2026.03.24] old_architecture/data/dataset_breast_cached.json
*.txt